body {
    margin: 0;
    font-family: 'Pokemon Solid';
    font-size: 1.5rem;
}

.list-wrapper {
    display: flex;
    flex-wrap:wrap;

    
}

.number-wrap {
text-align: center;
}

.name-wrap {
    display: grid;
    text-align: center;
}

img {
    max-width: 10rem;
}

